.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);/*change this later?*/
    margin: 10px;
}
/*ability to hide the project description
and make #logs wider*/
@media only screen and (max-width: 480px) 
    and (-webkit-min-device-pixel-ratio: 2){
    #plant {
        background-color: blue;
        grid-column: 1/4;
        grid-row: 1/4;
    }
    
    #logs {
        background-color: red;
        grid-column: 4/6;
        grid-row: 1/4;
    }
    
    #project {
        background-color: green;
        grid-column: 1/4;
        grid-row: 4/5;
    }
    
    #todo {
        background-color: grey;
        grid-column: 4/6;
        grid-row: 4/5;
    }
}
@media screen and (min-width: 500px){

    #plant {
        background-color: blue;
        grid-column: 1/4;
        grid-row: 1/4;
    }

    #logs {
        background-color: red;
        grid-column: 4/5;
        grid-row: 1/4;
    }

    #project {
        background-color: green;
        grid-column: 5/6;
        grid-row: 1/4;
    }

    #todo {
        background-color: grey;
        grid-column: 1/6;
        grid-row: 4/5;
    }
}